{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Script includes partial for individual sections
 * ==========
 */
--}}

<script type="text/javascript">
	$(document).ready(function() {

		// TODO: should have a better system for this, but all carousels must be manually initalized
		// (moved from public/js/template.js)
		//Owl carousel
		//-----------------------------------------------
		/*if ($('.owl-carousel').length>0) {
			$(".owl-carousel.carousel").owlCarousel({
				items: 4,
				pagination: false,
				navigation: true,
				navigationText: false
			});
			$(".owl-carousel.carousel-autoplay").owlCarousel({
				items: 4,
				autoPlay: 5000,
				pagination: false,
				navigation: true,
				navigationText: false
			});
			$(".owl-carousel.clients").owlCarousel({
				items: 6,
				autoPlay: true,
				pagination: false,
				itemsDesktopSmall: [992,4],
				itemsTablet: [768,4],
				itemsMobile: [479,3]
			});
			$(".owl-carousel.content-slider").owlCarousel({
				singleItem: true,
				autoPlay: 5000,
				navigation: false,
				navigationText: false,
				pagination: false
			});	
			$(".owl-carousel.content-slider-with-controls").owlCarousel({
				singleItem: true,
				autoPlay: false,
				navigation: true,
				pagination: false
			});
			$(".owl-carousel.content-slider-with-controls-pagination").owlCarousel({
				singleItem: true,
				autoPlay: false,
				navigation: true,
				pagination: true
			});
			$(".owl-carousel.content-slider-with-large-controls").owlCarousel({
				singleItem: true,
				autoPlay: false,
				navigation: true,
				pagination: true
			});	
			$(".owl-carousel.content-slider-with-controls-autoplay").owlCarousel({
				singleItem: true,
				autoPlay: 5000,
				navigation: true,
				pagination: true
			});
			$(".owl-carousel.content-slider-with-large-controls-autoplay").owlCarousel({
				singleItem: true,
				autoPlay: 5000,
				navigation: true,
				pagination: true
			});
			$(".owl-carousel.content-slider-with-controls-autoplay-hover-stop").owlCarousel({
				singleItem: true,
				autoPlay: 5000,
				navigation: true,
				pagination: true,
				stopOnHover: true
			});
		};*/

		{{#ifeq section 'home'}}
			
			// Selects a random start time for the video
			var vid = "https://player.vimeo.com/video/152725215?background=1&autoplay=1&loop=1#t=";
			var times = [
				"0m0s",
				"0m22s",
				"0m47s",
				"1m14s",
				"1m51s"
			];
			var time = times[Math.floor(Math.random()*times.length)];
			$('iframe').prop('src', vid + time);

			// Initialize featured projects carousel
			$(".owl-carousel.content-slider-with-controls").owlCarousel({
				singleItem: true,
				autoPlay: false,
				navigation: true,
				pagination: true
			});

		{{/ifeq}}
		{{#ifeq section 'people'}}
			$('.bio').readmore({
			  speed: 250,
			  collapsedHeight: 115,
			  lessLink: '<a href="#">Close</a>',
			  moreLink: '<a href="#">...</a>',
			  afterToggle: function(trigger, element, expanded) {

		    	var teamMember = $(element).closest('.team-member');
		    	var navHeight = parseInt($('body').css('padding-top'));

		    	if(! expanded) { // The "Close" link was clicked
		  	      $('html, body').animate( { scrollTop: teamMember.offset().top - navHeight }, {duration: 100 } );
		  	    }
			  }
			});

			$('.team-member img.photo').click(function(evt) {

				$('.bio.' + evt.currentTarget.id).readmore('toggle');

			});
		{{/ifeq}}
		{{#ifeq section 'about'}}

			// Initialize partners carousel
			$(".owl-carousel.content-slider-with-controls").owlCarousel({
				singleItem: true,
				autoPlay: false,
				navigation: true,
				pagination: false,
				beforeMove: function(elem) {
					index = $(this)[0].currentItem;
					selectPartner($('.client-image').eq(index));
				}
			});

			var owl = $('.owl-carousel');

			$('.client-image').click(function() {
				owl.trigger('owl.goTo', $(this).index());
				selectPartner($(this));
			});

			function selectPartner(selector) {
				$('.clients>.client-image.selected').removeClass('selected');
				selector.addClass('selected');
			}
		{{/ifeq}}
	})
</script>