// Mixins
// --------------------------------------------------

// Utilities
@import "mixins/hide-text";
@import "mixins/opacity";
@import "mixins/functions";

@import "mixins/size.less";
@import "mixins/vendor-prefixes";

// Components
@import "mixins/buttons";

// Skins
@import "mixins/gradients";

// Layout
@import "mixins/clearfix";
@import "mixins/center-block";