{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2016
* ==============
*
* 404 error Page Template
* ==========
*/
--}}

<!-- 404 START -->
<div class="banner border-clear light-translucent-bg" style="background-image:url('http://res.cloudinary.com/engagement-lab-home/image/upload/v1453821943/site/404_bg.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-md-8 pv-20">
				<h2 class="title">Uh oh! {{errorTitle}}</h2>
				<p>{{{errorMsg}}}</p>
			</div>
		</div>
	</div>
</div>
