{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * About Page Template 
 * - See About model for fields
 * - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<div class="page-wrapper">
<!-- ABOUT START -->
<!-- banner start -->
<!-- ================ -->
<div class="banner border-clear light-translucent-bg" style="background-image:url('images/page-about-banner-2.jpg');">
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 pv-20">
				<h2 class="title"><strong>About</strong> The Engagement Lab</h2>
				<p>{{about.blurb}}</p>
			</div>
		</div>
	</div>

</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Our Mission</h1>
				<div class="separator-2 mb-20"></div>
				<!-- page-title end -->

				<div class="row">
					<div class="col-md-6">
						{{about.mission}}
					</div>

					<!-- sidebar start -->
					<!-- ================ -->
					<aside class="sidebar col-md-6">
						<div class="block clearfix">
							<div class="image">
								<img src="http://publicdomainarchive.com/wp-content/uploads/2015/03/public-domain-images-free-stock-photos-architecture-black-and-white-building-1000x667.jpg" alt="">
							</div>
						</div>
					</aside>
					<!-- sidebar end -->
				</div>
			</div>
			<!-- main end -->
		</div>
	</div>
	<section class="section light-gray-bg clearfix">
		<div class="container-fluid border-clear">
			{{!-- PARTNERS start --}}
			<div class="row">
				<div class="col-md-12">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="page-title">Our Partners</h1>
							</div>
						</div>
					</div>
					<div class="container clearfix"></div>
						<div class="slideshow">
							<div class="slider-banner-container">
								<div class="slider-banner-boxedwidth">
									<ul class="slides">
										<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Premium HTML5 Template">
										
										<!-- main image -->
										<img src="images/slider-boxed-slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
										
										<!-- Transparent Background -->
										<div class="tp-caption dark-translucent-bg"
											data-x="center"
											data-y="bottom"
											data-speed="600"
											data-start="0">
										</div>

										<!-- LAYER NR. 1 -->
										<div class="tp-caption sfb fadeout text-center large_white"
											data-x="center"
											data-y="110"
											data-speed="500"
											data-start="1000"
											data-easing="easeOutQuad">Premium HTML5 Template
										</div>	

										<!-- LAYER NR. 2 -->
										<div class="tp-caption sfb fadeout text-center hidden-xs large_white tp-resizeme"
											data-x="center"
											data-y="155"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"><div class="separator light"></div>
										</div>	

										<!-- LAYER NR. 3 -->
										<div class="tp-caption sfb fadeout medium_white hidden-xs text-center"
											data-x="center"
											data-y="190"
											data-speed="500"
											data-start="1300"
											data-easing="easeOutQuad"
											data-endspeed="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam <br> culpa offici, tenetur fugiat dolorum sapiente...
										</div>

										<!-- LAYER NR. 4 -->
										<div class="tp-caption sfb fadeout small_white text-center hidden-xs"
											data-x="center"
											data-y="300"
											data-speed="500"
											data-start="1600"
											data-easing="easeOutQuad"
											data-endspeed="600"><a href="#" class="btn btn-dark btn-animated">Read More <i class="fa fa-arrow-right"></i></a> <span class="pl-5 pr-5">or</span> <a href="page-contact.html" class="btn btn-default btn-animated">Contact Us <i class="fa fa-envelope"></i></a>
										</div>

										</li>
									</ul>
									<div class="tp-bannertimer"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="clients-container">
							<div class="clients">
								<div class="client-image object-non-visible animated object-visible">
									<a href="#">
										<img src="images/client-1.png">
									</a>
								</div>
								<div class="client-image object-non-visible animated object-visible">
									<a href="#">
										<img src="images/client-1.png">
									</a>
								</div>
								<div class="client-image object-non-visible animated object-visible">
									<a href="#">
										<img src="images/client-1.png">
									</a>
								</div>
								<div class="client-image object-non-visible animated object-visible">
									<a href="#">
										<img src="images/client-1.png">
									</a>
								</div>
								<div class="client-image object-non-visible animated object-visible">
									<a href="#">
										<img src="images/client-1.png">
									</a>
								</div>
								<div class="client-image object-non-visible animated object-visible">
									<a href="#">
										<img src="images/client-1.png">
									</a>
								</div>
							</div>
						</div>
					</div>
						{{!-- Possible alternative (scales icons, left aligns with title) --}}
						<!-- <div class="row">
							{{!-- TODO: pull these from cms & use an each loop --}}
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
							<div class="col-xs-3 col-sm-2 col-md-9">
								<div class="partner-container">
									<span class="icon default-bg circle partner-icon"></span>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
		{{!-- <div class="row">
			<h1 class="page-title">Our Partners</h1>
			<div class="separator-2 mb-20"></div>
				<p> We have worked with over 50 partner organizations in different capacities including collaboraters, design partners, and client/funders. </p>
				<div class="row">
					<div class="col-md-6">
						<div class="owl-carousel content-slider">
							<div class="testimonial text-center padding-ver-clear">
								<h3>Just Perfect!</h3>
								<div class="separator"></div>
								<div class="testimonial-body">
									<blockquote>
										<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
									</blockquote>
									<div class="testimonial-info-1">- Jane Doe</div>
									<div class="testimonial-info-2">By Company</div>
								</div>
							</div>
							<div class="testimonial text-center padding-ver-clear">
								<h3>Amazing!</h3>
								<div class="separator"></div>
								<div class="testimonial-body">
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
									</blockquote>
									<div class="testimonial-info-1">- Jane Doe</div>
									<div class="testimonial-info-2">By Company</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="clients-container">
							<div class="clients">
								<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
									<a href="#"><img src="images/client-1.png" alt=""></a>
								</div>
								<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
									<a href="#"><img src="images/client-2.png" alt=""></a>
								</div>
								<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
									<a href="#"><img src="images/client-3.png" alt=""></a>
								</div>
								<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
									<a href="#"><img src="images/client-4.png" alt=""></a>
								</div>
								<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
									<a href="#"><img src="images/client-5.png" alt=""></a>
								</div>
								<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
									<a href="#"><img src="images/client-6.png" alt=""></a>
								</div>
								<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
									<a href="#"><img src="images/client-7.png" alt=""></a>
								</div>
								<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
									<a href="#"><img src="images/client-8.png" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> --}}
		{{!-- PARTNERS end --}}
</section>
<!-- main-container end -->
</div>