{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* About Page Template
* - See About model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}

<!-- ABOUT START -->
<div class="banner border-clear light-gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12 pv-40">
				{{> page/name name="About Us"}}
				{{> about/first_paragraph text=about.history1}}
				{{> about/history_image_set images=about.historyImages1}}
				{{> about/paragraph text=about.history2}}
				{{> about/history_image_set images=about.historyImages2}}
				{{> about/paragraph text=about.history3}}
			</div>
		</div>
	</div>
</div>
{{!-- <section class="main-container"> --}}

<section class="about-section">
	<!-- Process & Approach -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{> page/name name="Our Process + Approach"}}
				{{> about/first_paragraph text=about.process}}
			</div>
		</div>
	</div>
</section>

	<!-- Partners -->
	<section class="section clearfix partners about-section">
		<div class="container border-clear">
			<div class="row">
				<div class="col-md-12">
					<div class="container">
						<div class="row">
							{{> page/name name="Our Partners"}}
							<br>
							<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
								<div class="owl-carousel content-slider-with-controls">
									{{#each partners}}
										{{> about/partner_info partner=this}}
									{{/each}}
								</div>
							</div>
						</div>
					</div>
					<div class="container pv-20">
						<div class="clients-container">
							<div class="clients">
								{{#each partners}}
									{{> about/partner_icon partner=this}}
								{{/each}}
							</div>
						</div>
					</div> <!-- .container -->
				</div> <!-- .col-md-12 -->
			</div> <!-- .row -->
		</div> <!-- .container-fluid -->
	</section>

<section class="about-section">
	<!-- Collaborate -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{> page/name name="Collaborate + Work With Us"}}
				{{> about/first_paragraph text=about.collaborate}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-md-6">
			<div class="collaborators">
				{{> about/collaborator title="Students and Researchers" text="With full time faculty fellows and a new graduate program, there are plenty of educational opportunities" icon="arrows"}}
				{{> about/collaborator title="Clients and Consulting" text="With full time faculty fellows and a new graduate program, there are plenty of educational opportunities" icon="bullhorn"}}
				{{> about/collaborator title="Community Based Partnerships (workshops)" text="With full time faculty fellows and a new graduate program, there are plenty of educational opportunities" icon="briefcase"}}
				</div>
			</div>
			<div class="col-sm-4 col-md-6">
				<img src="/images/layout/logo_color.png" alt="Engagement Lab Logo">
			</div>
		</div>
	</div>
</section>
{{!-- </section> --}}