{{!< default}}
<!--====================BEGIN HOME==============-->
<!--====================BEGIN MAIN SLIDER WITH VIDEO==============-->
<!-- banner start -->
<!-- ================ -->
<body>
<section class="hidden-xs-sm">
	<div class="banner clearfix fullscreen">
		<!-- Video Background -->
		<div class="fullscreenvideo"
			data-autoplay="true"
			data-volume="mute"
			data-forceCover="1"
			data-aspectratio="16:9"
			data-forcerewind="on"
			style="z-index: 2;">
			{{!--  --}}
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; background:url(/images/home/video_load.gif) center center no-repeat; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
			<div class='embed-container'><iframe src="https://player.vimeo.com/video/132559864?background=1&autoplay=1&loop=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
		</div>
	</div>
	<div class="overlay">
		<h1>This is an overlay</h1>
	</div>
</section>
<!-- banner end -->
<!--=====MAIN SLIDER WITH VIDEO/PHOTO BACKGROUND END====-->

<!--=====MISSION STATEMENT/CALL TO ACTION BEGIN====-->
<section class="section light-gray-bg pv-40 clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action text-center">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<h2 class="title">Mission Statement</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
							<div class="separator"></div>
							<form class="form-inline margin-clear">
								<div class="form-group has-feedback">
									<label class="sr-only" for="subscribe2">Email address</label>
									<input type="email" class="form-control" id="subscribe2" placeholder="Enter email" name="subscribe2" required="">
									<i class="fa fa-envelope form-control-feedback"></i>
								</div>
								<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Submit <i class="fa fa-send"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section end -->
<br>
<br>
<!--=====MISSION STATEMENT/CALL TO ACTION BEGIN====-->

<!--=====COUNTER BEGINS======-->
<section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-1" style="background-position: 50% 60%;">
	<div class="clearfix">
		<div class="col-md-3 col-xs-6 text-center">
			<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
				<span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
				<h3><strong>Projects</strong></h3>
				<span class="counter" data-to="1525" data-speed="5000">0</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 text-center">
			<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
				<span class="icon default-bg circle"><i class="fa fa-users"></i></span>
				<h3><strong>Clients</strong></h3>
				<span class="counter" data-to="1225" data-speed="5000">0</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 text-center">
			<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
				<span class="icon default-bg circle"><i class="fa fa-cloud-download"></i></span>
				<h3><strong>Downloads</strong></h3>
				<span class="counter" data-to="12235" data-speed="5000">0</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 text-center">
			<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
				<span class="icon default-bg circle"><i class="fa fa-share"></i></span>
				<h3><strong>Shares</strong></h3>
				<span class="counter" data-to="15002" data-speed="5000">0</span>
			</div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<!--Counter End-->
<!--Projects Slider Begins-->
<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">
	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow">
		
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-banner-container">
			<div class="slider-banner-fullscreen">
				<ul class="slides">
					<!-- slide 1 start -->
					<!-- ================ -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Unlimited Options and Layouts">
						
						<!-- main image -->
						<img src="images/slider-fullscreen2-slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
						
						<!-- Transparent Background -->
						<div class="tp-caption dark-translucent-bg"
							data-x="center"
							data-y="bottom"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="0">
						</div>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption sfb fadeout large_white"
							data-x="left"
							data-y="100"
							data-speed="500"
							data-start="1000"
							data-easing="easeOutQuad"><span class="logo-font">The Project</span> - Clean Bootstrap Template
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption sfb fadeout large_white tp-resizeme"
							data-x="left"
							data-y="170"
							data-speed="500"
							data-start="1300"
							data-easing="easeOutQuad"><div class="separator-2 light"></div>
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption sfb fadeout medium_white"
							data-x="left"
							data-y="190"
							data-speed="500"
							data-start="1300"
							data-easing="easeOutQuad"
							data-endspeed="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption sfb fadeout small_white"
							data-x="left"
							data-y="300"
							data-speed="500"
							data-start="1600"
							data-easing="easeOutQuad"
							data-endspeed="600"><a href="#" class="btn btn-gray btn-lg btn-animated">Learn More <i class="fa fa-info-circle"></i></a> <span class="pl-5 pr-5">or</span> <a href="page-contact.html" class="btn btn-default btn-lg btn-animated">Contact Us <i class="fa fa-envelope"></i></a>
						</div>
						<!-- LAYER NR. 5 -->
						<div class="tp-caption fade fadeout"
							data-x="center"
							data-y="bottom"
							data-voffset="100"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="2000"
							data-endspeed="200">
							<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
						</div>
					</li>
					<!-- slide 1 end -->
					<!-- slide 2 start -->
					<!-- ================ -->
					<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Simple and Smart Bootstrap Template">
						
						<!-- main image -->
						<img src="images/slider-fullscreen2-slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
						<!-- Transparent Background -->
						<div class="tp-caption dark-translucent-bg"
							data-x="center"
							data-y="bottom"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="0">
						</div>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption sfb fadeout large_white text-right"
							data-x="right"
							data-y="100"
							data-speed="500"
							data-start="1000"
							data-easing="easeOutQuad"><span class="logo-font">The Project</span> - Unlimited Options and Layouts
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption sfb fadeout large_white tp-resizeme"
							data-x="right"
							data-y="170"
							data-speed="500"
							data-start="1300"
							data-easing="easeOutQuad"><div class="separator-3 light"></div>
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption sfb fadeout medium_white text-right"
							data-x="right"
							data-y="190"
							data-speed="500"
							data-start="1300"
							data-easing="easeOutQuad"
							data-endspeed="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici,<br> tenetur fugiat dolorum sapiente eligendi
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption sfb fadeout small_white"
							data-x="right"
							data-y="300"
							data-speed="500"
							data-start="1600"
							data-easing="easeOutQuad"
							data-endspeed="600"><a href="#" class="btn btn-gray btn-lg btn-animated">Learn More <i class="fa fa-info-circle"></i></a> <span class="pl-5 pr-5">or</span> <a href="page-contact.html" class="btn btn-default btn-lg btn-animated">Contact Us <i class="fa fa-envelope"></i></a>
						</div>
						<!-- LAYER NR. 5 -->
						<div class="tp-caption fade fadeout"
							data-x="center"
							data-y="bottom"
							data-voffset="100"
							data-speed="500"
							data-easing="easeOutQuad"
							data-start="2000"
							data-endspeed="200">
							<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
						</div>
					</li>
					<!-- slide 2 end -->
				</ul>
				<div class="tp-bannertimer"></div>
			</div>
		</div>
		<!-- slider revolution end -->
	</div>
	<!-- slideshow end -->
</div>
<!-- banner end -->

<!--Projects Slider Ends-->
<!--===============END OF PROJECT SLIDER=============-->
</body>