{{!< default}}
<!--====================BEGIN HOME==============-->
<div class="container-fluid">
	<div class="row">
		<!-- main start -->
		<!-- ================ -->
		<div class="main col-md-12 no-gutter">

			<section class="hidden-xs-sm">
				<div class="banner clearfix fullscreen">
					<div class="overlay-container overlay-visible">
						<!-- Video Background -->
						<div class="fullscreenvideo"
							data-autoplay="true"
							data-volume="mute"
							data-forceCover="1"
							data-aspectratio="16:9"
							data-forcerewind="on"
							style="z-index: 2;">
							{{!--  --}}
							<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; background:url(/images/home/video_load.gif) center center no-repeat; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
							<div class='embed-container'><iframe src="https://player.vimeo.com/video/152485138?background=1&autoplay=1&loop=1#t=1m30s" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

						</div>
						<div class="overlay">
							<div class="call-to-action text-center">
								<h1 class="title">Mission Statement</h1>
								<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</h3>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="overlay">
					<h1>This is an overlay</h1>
				</div>-->
			</section>
			<!-- banner end -->
			<!--=====MAIN SLIDER WITH VIDEO/PHOTO BACKGROUND END====-->

			<!-- Featured Projects, Events -->
				
			{{#if featured_projects}}
				<!--Projects Slider Begins-->
				<!-- ================ -->
				<div class="pv-40 banner">
					<div class="container clearfix">

						<!-- slideshow start -->
						<!-- ================ -->
						<div class="slideshow">
							
							<!-- slider revolution start -->
							<!-- ================ -->
							<div class="slider-banner-container">
								<div class="slider-banner-boxedwidth">
									<ul class="slides">
									
									{{#each featured_projects}}

										<!-- slide start -->
										<li data-transition="slide" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="{{name}}">
											<!-- main image -->
											{{#if headerImage}}
												<img src="{{{cloudinaryUrl headerImage width=1140 height=450 quality=50}}}" alt="slidebg1" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
											{{/if}}

											<!-- Transparent Background -->
											<div class="tp-caption dark-translucent-bg"
												data-x="center"
												data-y="bottom"
												data-speed="600"
												data-start="0">
											</div>

											<!-- LAYER NR. 1 -->
											<div class="tp-caption sfb fadeout text-center large_white"
												data-x="left"
												data-y="110"
												data-speed="500"
												data-start="1000"
												data-easing="easeOutQuad">{{name}}
											</div>

											<!-- LAYER NR. 3 -->
											<div class="tp-caption sfb fadeout medium_white text-center hidden-xs"
												data-x="left"
												data-y="190"
												data-speed="500"
												data-start="1300"
												data-easing="easeOutQuad"
												data-endspeed="600">{{{overview.html}}}
											</div>
										</li>
										<!-- slide end -->

									{{/each}}
									</ul>
									<div class="tp-bannertimer"></div>
								</div>
							</div>
							<!-- slider revolution end -->

						</div>
						<!-- slideshow end -->

					</div>
				</div>
				<!--Projects Slider Ends-->
			{{/if}}

			{{!-- TODO: Most recent blog & event --}}
			<section class="pv-40 padding-bottom-clear clearfix">
				<div class="clearfix">
				<div class="container-fluid">
					<div class="row grid-space-10">
						<div class="col-sm-6 col-md-6">
							<div class="pv-30 ph-20 white-bg feature-box bordered text-center">
								<div class="posted-date">
									<p>Aug</p>
									<p>30</p>
								</div>
								<div class="summary">
									<h4>Cute Robots</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3"></div>
						<div class="col-sm-6 col-md-3"></div>
						<div class="col-sm-6 col-md-3"></div>
					</div>
				</div>
				</div>
			</section>
		</div>
	</div>
</div>