{{!< default}}
<!--====================BEGIN HOME==============-->
<div class="container-fluid">
	<div class="row">
		<!-- main start -->
		<!-- ================ -->
		<div class="main col-md-12 no-gutter">

			<section class="hidden-xs-sm">
				<div class="banner clearfix fullscreen">
					<div class="overlay-container overlay-visible">
						<!-- Video Background -->
						<div class="fullscreenvideo"
							data-autoplay="true"
							data-volume="mute"
							data-forceCover="1"
							data-aspectratio="16:9"
							data-forcerewind="on"
							style="z-index: 2;">
							<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; background:url(/images/home/video_load.gif) center center no-repeat; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
							<div class='embed-container'><iframe width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

						</div>
						<div class="overlay">
							<div class="va-container">
								<div class="va-align">
									<div class="call-to-action text-center">
										<img src="/images/layout/logo_white.png" alt="Engagement Lab Logo" id="logo-img">
										<h1 class="title">Engagement Lab</h1>
										<h3>The Engagement Lab is an applied research lab at Emerson College that activates human centered design and action research methods to advance our understanding of how people engage with civic life. From changing institutional cultures to inventing new tools and pedagogies, the Engagement Lab applies research to practice in order to make social change in communities around the world. </h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- banner end -->

			{{#if recentEvents}}
			<section class="recent-events clearfix light-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-12 mb-20">
							<h2 class="title text-center">What's Good at the Lab</h2>
						</div>
					</div>
					<div class="row grid-space-30">
						{{#each recentEvents}}
							{{> index/recent_event colSize=eventsColumnSize event=this}}
						{{/each}}
					</div>
				</div>
			</section>
			{{/if}}
			{{#if featured_projects}}
				<section class="featured-projects">
					<div class="owl-carousel content-slider-with-controls">
						{{#each featured_projects}}
							{{> index/featured_project project=this}}
						{{/each}}
					</div>
				</section>
			{{/if}}
		</div> <!-- .main -->
	</div> <!-- .row -->
</div> <!-- .container-fluid -->