{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Project Directory Page Template 
 * - See Project model for fields
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- SUBDIRECTORY START -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">
	<div class="container">
		<!-- main start -->
		<!-- ================ -->
		<div class="main">
			<!-- page-title start -->
			<!-- ================ -->
			<h1 class="page-title"><strong>Research: </strong><span class="font-light">{{subdirectory.name}}</span></h1>
			<h6 class="lead">{{{subdirectory.description.html}}}</h6>
			<!-- page-title end -->
		</div>
		<!-- main end -->
	</div>
</section>
<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<section>
	<div class="container">
		<div class="row grid-space-10">
			{{#if listings}}
				
				{{!-- Show projects --}}
				{{#each listings}}
						{{> project_preview project=this}}
				{{/each}}

			{{else}}
				
				<strong>No projects! Fiddlesticks!</strong>
			
			{{/if}}
		</div>
	</div>
</section>
<!-- section end -->