<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">

	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="dark footer-content text-center padding-ver-clear">
							<div class="logo-footer">
								<img id="logo-footer" class="center-block" src="/images/layout/logo_white.png" alt="Engagement Lab Logo">
							</div>
							<p class="lead text-center">We are an applied research lab dedicated to innovating the ways people participate in civic life and expanding the study of citizenship in a digital era.<br />
							<ul class="list-inline mb-20">
								<li><i class="text-default fa fa-map-marker pr-5"></i>120 Boylston St. Boston, MA 02116</li>
								{{!-- <li><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+00 1234567890</a></li> --}}
								<li><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>info at elab.emerson.edu</li>
							</ul>
							<ul class="social-links circle margin-clear">
								<li class="facebook"><a target="_blank" href="http://www.facebook.com/EngagementLab"><i class="fa fa-facebook"></i></a></li>
								<li class="twitter"><a target="_blank" href="http://www.twitter.com/EngageLab"><i class="fa fa-twitter"></i></a></li>
								<li class="github"><a target="_blank" href="https://github.com/engagementgamelab"><i class="fa fa-github"></i></a></li>
							</ul>
							{{!-- <div class="separator"></div> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->

</footer>
<!-- footer end -->