<!DOCTYPE HTML>
<html>
	<head>
		<title>Risk Horizon</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/riskhorizon/js/jquery.min.js"></script>
		<script src="/static/riskhorizon/js/jquery.poptrox.min.js"></script>
		<script src="/static/riskhorizon/js/skel.min.js"></script>
		<script src="/static/riskhorizon/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/riskhorizon/css/skel-noscript.css" />
			<link rel="stylesheet" href="/static/riskhorizon/css/style.css" />
		</noscript>
	
	</head>
	
	<body>

		<!-- Header -->
			<header id="header">

				<!-- Logo -->
					<h1 id="logo"><a href="#">Risk Horizon</a></h1>
				
				<!-- Nav -->
		<div class="dropdown">
					<nav id="nav">
						<ul>
							<li><a href="#intro">What is Risk Horizon</a></li>
							<li><a href="#game">Play</a></li>
							<li><a href="#one">How to Play</a><li>
							<li><a href="#seven">Technical Specifications</a><li>
							<li><a href="/FAQ.html">FAQ</a></li>
							
								<!--
							<li><a href="#two">Balance!</a><li>
							<li><a href="#three">Powers!<a/><li>
							-->
						</ul>
					</nav>
		</div>
			</header>
			
		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content container small">
					<div class=" content boxhead image">
						<img src="/static/riskhorizon/images/rhlogo.png"> 
						<p style="font-size: 1.75em" > 
							A real time strategy game that teaches how and why risk management is important for 
							healthy development. 
						</p>
						<p style="font-size: 1em;">
							Scroll down to play and learn more about the world of Alora!
						</p>
					<footer>
						<a href="#game" class="button style2 down">More</a>
					</footer>
					</div> 					
				</div>
			</section>
		
		<!-- Game -->

			<section id="game" class="main style2 fullscreen">
			
				<style>
				body
				{
					text-align: center;
				}
				  		
				#contentgame {
				   width: 768px;
				   margin-left: auto;
				   margin-right: auto;
				   height: 576px;
				}
				
				#containergame 
				{
					position: absolute;
		   			top: 50%;
					margin-top: -288px;
		   			left: 0;
		   			width: 100%;
					text-align: left;
				}	
				</style>
				
				<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
				<script type="text/javascript" src="/static/riskhorizon/swfobject.js"></script>
				<script type="text/javascript">
					swfobject.registerObject("unityPlayer", "11.0.0");
				</script>

			
				<div id="containergame">
					<div id="contentgame">
						<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="768" height="576" id="unityPlayer">
							<param name="movie" value="/static/riskhorizon/RH_Beta_062814.swf" />
							<param name="scale" value="noscale" />
							<param name="wmode" value="direct" />
							<param name="bgcolor" value="#ffffff" />
							<param name="devicefont" value="false" />
							<param name="swliveconnect" value="false" />
							<param name="allowfullscreen" value="true" />
							<param name="allowscriptaccess" value="always" />
							<param name="allownetworking" value="all" />
							<param name="menu" value="false"/>
							<param name="flashvars" value="unitydebug=false&amp;deeptrace=false" />
							<!--[if !IE]>-->
							<object type="application/x-shockwave-flash" data="/static/riskhorizon/RH_Beta_062814.swf" width="768" height="576">
								<param name="scale" value="noscale" />
								<param name="wmode" value="direct" />
								<param name="bgcolor" value="#ffffff" />
								<param name="devicefont" value="false" />
								<param name="swliveconnect" value="false" />
								<param name="allowfullscreen" value="true" />
								<param name="allowscriptaccess" value="always" />
								<param name="allownetworking" value="all" />
								<param name="menu" value="false"/>
								<param name="flashvars" value="unitydebug=false&amp;deeptrace=false" />
							<!--<![endif]-->
								<a href="http://www.adobe.com/go/getflashplayer">
									<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
								</a>
							<!--[if !IE]>-->
							</object>
							<!--<![endif]-->
						</object>
					</div>
				</div>
			</section>
				
		<!-- Enter Alora -->
			<section id="one" class="main style2 right primary fullscreen">
				<div class="content box style2">
					<h2>Welcome to the world of Alora</h2>
					<br>
					<p>You’ve been chosen.</p>
					<p> As the Luminator of Alora, your task is to develop our community to the best of your 
					ability while meeting certain milestones along the way.</p>
					<p> These milestones are indicated by lines marked on the development bar. Fill your development bar by building and upgrading pods. Each pod will help increase your rate of development.</p>
					
				</div>
			</section> 
			<section id="two" class="main style2 right dark fullscreen">
				<div class="content box style 2"> 
					<h2>Balance Risk Preparation and Healthy Development</h2>
						<br>
						<p>Watch out! Alora falls victim to falling comets, shocks as we call them. These 
						comets careen into the water and cause waves that hinder development. You must balance between growing our community and preparing for these potential shocks.</p>

						<p>Thankfully, you have abilities that can help. Using your interface device, you are able to access three Luminator powers: Research, Protection, and Insurance.</p>

						<p>But remember, each action will cost you precious resources! </p>
				</div>
			</section>
			<section id="three" class="main style2 right dark fullscreen">
				<div class="content box style 2"> 			
					<h2>The Power of Research:</h2>
						<br>
						<p>The power to look out into space and learn the chance of the comet hitting, the time until impact, and the severity of the comet. 
						By clicking on a comet and keeping it's box focused on screen, you will begin to accumluate research. With each filled in notch, you receive more time to create community connections right before the comet hits, helping boost your protection. </p> 
				</div>
			</section>
			<section id="four" class="main style2 right dark fullscreen">
				<div class="content box style 2"> 		

					<h2>The Power of Protection:</h2>
					 	<br>
					 	<p>Our long term protection against the waves. 
						Press and hold the slider, located on the bottom right of the screen, into the upright position to raise your island. 
						By matching your level of protection, indicated by the meter to the right of the slider, with the severity of the comet, you will prevent  your pods from being damaged! But remember, the more you lift, the more this power costs. 
				</div>
			</section>
			<section id="five" class="main style2 right dark fullscreen">
				<div class="content box style 2"> 		 	

					<h2>The Power of Insurance:</h2> 
					<br>
					<p>By obtaining insurance, pods damaged from flooding will be quicker and cheaper to rebuild. 
					Insurance also recovers lost development time after you your pods are repaired! 
					Click the insurance button at the bottom left of the screen to open the insurance purchase menu and select a plan. </p>

					<p>By using these three powers in concert with development, you will help us create a healthy community and create a Luminator legacy! The only way to succeed is to find the perfect balance. Remember to keep your eyes on the horizon. Good luck!</p>
				</div> 
			</section>

<!-- Alorian Salesman Hints 



	<div class="wrapper" style="top: 20px;">
         <div class="content"> 
		<h1> <p>Flip through the Alorian Luninator handbook to learn more about Risk Horizon!</p></h1> 
	<div id="slider-code"> 
	<div class="slider-content">

		<a class="buttons prev" href="#"> <icon> </a>

		<div class="viewport"> 
			<ul class="overview" style="width: 2975px; left: -595px;">
				<li> <img src="images/thumbs/o1.jpg"></li>
				<li> <img src="images/thumbs/o2.jpg"> </li> 
				<li> <img src="images/thumbs/o3.jpg"></li> 
			</ul>
		</div>

		<a class="buttons next" href="#"> <icon> </a> 
	</div>
	</div>
</div>
</div>
-->

<section id="seven" style="margin: 1; font-;">
		<div id="contentbox" class="clearfix"style=" padding: 1em; margin:0px auto; width:100%;">
			<h2> Technical Specifications</h2>
				<br>
				<div class="column1">
							<p style="font-size: 1.50em; text-align: center;">
							Windows
							<br>
							</p>
							
							<p>
							<li>Screen Resolution 1366x768</li>
							<li>2.33GHz or faster x86-compatible processor, or Intel® Atom™ 1.6GHz or faster processor for netbooks</li>
							<li>Microsoft® Windows® XP (32 bit), Windows Server 2008 (32 bit), Windows Vista® (32 bit), Windows 7 (32 bit and 64 bit), Windows 8 (32 bit and 64 bit), or Windows Server 2012 (64 bit)</li>
							<li>Internet Explorer 8.0 or later, Mozilla Firefox 17 or later, Google Chrome, or Opera 11</li>
							<li>512MB of RAM (1GB of RAM recommended for netbooks); 128MB of graphics memory</li>
							</p>	
				</div>
				
				<div class="column1">
					<p style="font-size: 1.50em; text-align: center;">
						Mac OS
						<br>
						</p>
					
						<p>
							<li>Screen Resolution 1366x768</li>
							<li>Intel Core™ Duo 1.83GHz or faster processor</li>
							<li>Mac OS X v10.6, v10.7, v10.8, or v10.9</li>
							<li>Safari 5.0 or later, Mozilla Firefox 17, Google Chrome, or Opera 11</li>
							<li>512MB of RAM; 128MB of graphics memory</li>
					</p>
				</div>

				<div class="column1">
					<p style="font-size: 1.50em; text-align: center;">
						Linux
						<br>
						</p>
						<p>
							<li>Screen Resolution 1366x768</li>
							<li>2.33GHz or faster x86-compatible processor, or Intel Atom 1.6GHz or faster processor for netbooks</li>
							<li>Red Hat® Enterprise Linux® (RHEL) 5.6 or later (32 bit and 64 bit), openSUSE® 11.3 or later (32 bit and 64 bit), or Ubuntu 10.04 or later (32 bit and 64 bit)</li>
							<li>Mozilla Firefox 17 or Google Chrome</li>
							<li>512MB of RAM; 128MB of graphics memory</li>
					</p>
				</div>
				
	</div>
</section>
	
		<!-- Footer -->
			<footer id="footer">
			
				<!--
				     Social Icons
				     
				     Use anything from here: http://fortawesome.github.io/Font-Awesome/cheatsheet/)
				-->
					<ul class="actions">
						<li><a href="https://twitter.com/EngageLab" class="fa solo fa-twitter"><span>Twitter</span></a></li>
						<li><a href="https://www.facebook.com/EngagementLab" class="fa solo fa-facebook"><span>Facebook</span></a></li>
						<li style="font-size: .6em;"></li>
						
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li><a href="http://www.Engagementgamelab.org"><img src="/static/riskhorizon/images/egllogo.png"></a></li>
						<li><a href="http://wbi.worldbank.org/wbi/"><img style="height: auto; width: auto; max-width: 80px; max height: 80px;" src="/static/riskhorizon/images/worldbank.jpg"></a></li>
					</ul>
					<div style="float: left; padding-top: 2.75em; padding-left: .5em; padding-right: .75em;">
						<p style="float: left; margin: 0; font-size: .75em; padding: .5em; padding-top: 2em;">Designed by the Emerson Engagement Lab in partnership with the World Bank Institute<br> for the Massive Open Online Course on Risk and Opportunity. Web template: <a href="http://html5up.net/">HTML5 UP</a></p>
				</div>
			
			</footer>

	</body>
</html>