<html id="full">
<head>
    <link rel="stylesheet" href="/static/uh/css/bootstrap.css">
    <link rel="stylesheet" href="/static/uh/css/media.css">
    <link rel="stylesheet" href="/static/uh/css/remodal.css">
    <link rel="stylesheet" href="/static/uh/css/remodal-default-theme.css">
    <link rel="stylesheet" href="/static/uh/fonts/glyphicons-halflings-regular.woff">
    <link rel="stylesheet" href="/static/uh/fonts/glyphicons-halflings-regular.woff2">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <title>Unlocking Health</title>
    </head>
    
    <body>
        
        <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid" id="full">
                <div class="navbar-header"><a class="navbar-brand" href="#"><img src="/static/uh/images/unlocking_health.png" style="height: 40px; width: 120px; margin-top:-10px; margin-left: -10px; padding: 0px;"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#whatis">What is Unlocking Health?</a>
                        </li>
                        <li class="visible-md-block visible-lg-block" id="play"><a href="#playnow">Play Now</a>
                        </li>
                        <li><a class="visible-md-block visible-lg-block" href="#tech">Download</a>
                        </li>
                        <li><a href="#about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="jumbotron" id="main">
                <div id="tagline" class="contentbox">
                    <img src="/static/uh/images/unlocking_health.png" class="img-responsive" style="">
                    <h2>An exploration and strategy game for teaching the principles of Results Based Financing</h2>
                </div>
            </div>
        </div>
        <div class="row" id="whatis">
            <div class="contentbox" id="what">
                <h2>Welcome to Zariba!</h2>
                <p>You are an international consultant charged with creating a program proposal for the people of Zariba that will improve health care and raise key indicators specified by the Ministry of Health.<p> Find your way around the country and talk to local people to get a nuanced picture of the situation from a wide array of perspectives. Set health priorities with government ministry officials, then help implement, monitor, and adapt the plan in context as operational obstacles inevitably arise. <p>Strive to meet target health indicator goals over the course of three years in the game and unlock health for the people of Zariba!</p>
            </div>
        </div>
        <div class="row caro">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                  <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" id="contents">
                    <div class="item active">
                        <div class="carouselcontent" >
                            <img src="/static/uh/images/image1.png" class="img-responsive">
                        </div>
                    </div>

                    <div class="item" id="">
                        <div class="carouselcontent " >
                            <img src="/static/uh/images/image2.png" class="img-responsive">
                        </div>
                    </div>

                    <div class="item" id="">
                        <div class="carouselcontent" >
                            <img src="/static/uh/images/image3.png" class="img-responsive">
                        </div>
                    </div>

                    <div class="item" id="">
                        <div class="carouselcontent" >
                            <img src="/static/uh/images/image4.png" class="img-responsive">
                        </div>
                    </div>
                </div>
                  <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon" aria-hidden="true"><</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon" aria-hidden="true">></span> 
                </a>
            </div>
        </div>
        <div class="row visible-md-block visible-lg-block" id="playnow">
            <div class="contentbox">
                <p><a href="#" data-remodal-target="modal" class="hvr-grow" id="play">Play now</a><br />in your browser.</p>
                <p>A fast connection (at least 10mbps) is recommended. Please be patient as the game may take 1-5 minutes to download inside browser. You can test your connection speed <a href="http://testmy.net/SmarTest/down" target="_blank">here</a>.</p>

                <div class="remodal" data-remodal-id="modal" data-remodal-options="closeOnOutsideClick: false">
                 <iframe id="game_embed"
                 width="100%" height="660" frameBorder="0"
                 sandbox="allow-scripts allow-same-origin allow-modals" allowfullscreen="true" seamless="seamless" scrolling="no">
                  <p>
                    <a href="https://developer.mozilla.org/en-US/docs/Glossary">
                      Your browser does not support frames. Please download Firefox.
                    </a>
                  </p>
                </iframe>
                  <button data-remodal-action="close" class="remodal-close"></button>
                </div>
            </div>
        </div>
        <div class="row" id="browsers">
            <div class="jumbotron" id="tech">
                <div class="container-fluid">
                    <div class="contentbox">
                    <h2>Play Now</h2>
                    <p>Your browser is not compatible with the in-browser version of the game. We recommend installing Chrome or Firefox:</p>
                     <a href="https://www.google.com/chrome/browser/desktop/" target="_blank" class="hvr-grow"><img src="/static/uh/images/chrome.png" /></a>
                     <a href="https://www.mozilla.org/firefox/new/" target="_blank" class="hvr-grow"><img src="/static/uh/images/firefox.png" /></a>
                    <p>You can also download the game for PC or Mac below:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="32bit">
            <div class="jumbotron" id="tech">
                <div class="container-fluid">
                    <div class="contentbox">
                    <h2>Play Now</h2>
                    <p>Your PC is not compatible with the <em>in-browser version</em> of the game, as it is not running a 64-bit version of Windows.</p>
                    <p>You can still download the game client for PC or Mac below:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row visible-md-block visible-lg-block"> 
            <div class="jumbotron" id="tech">
                <div class="container-fluid">
                    <div class="col-lg-2 col-sm-0">
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div id="title" class="clearbox"><h3>Windows</h3></div>
                        <p style="font-style:italic">Approx 28 minutes to download file over standard DSL connection (1.5mbps)</p>
                        <div id="download"> <a href="https://elabhome.blob.core.windows.net/downloads/UnlockingHealth_PC.zip"><button  type="button" class="btn btn-default">Download Here</button></a></div>
                        <ul>
                            <li>Screen Resolution 800x600</li>
                            <li>CPU: SSE2 instruction set support</li>
                            <li>Graphics card: DX9 (shader model 2.0) capabilities</li>
                            <li>Microsoft Windows XP or greater</li>
                            <li>2GB of RAM </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div id="title" class="clearbox"><h3>Mac OS</h3></div>
                        <p style="font-style:italic">Approx. 26 minutes to download file over standard DSL connection (1.5mbps)</p>
                        <div id="download"> <a href="https://elabhome.blob.core.windows.net/downloads/UnlockingHealth_Mac.zip"><button type="button" class="btn btn-default">Download Here</button></a> </div>
                        <ul>
                            <li>Screen Resolution 800x600</li>
                            <li>CPU: SSE2 instruction set support</li>
                            <li>Graphics card: DX9 (shader model 2.0) capabilities</li>
                            <li>Mac OS X 10.7 or greater</li>
                            <li>2GB of RAM </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-sm-0">
                    </div>
                </div>
            </div>
        </div>
        <div class="row visible-md-block visible-lg-block" id="install">
                <div class="row">
              <!--   <div class="clearbox"><h3> Installation Instructions </h3></div> -->
                    <ul>
                        <li><span>Click the 'download here' button. You will see a window pop up asking if you want to "open" or "save" the file. Choose Save.</span></li>
                        <li><span>Choose a location to save the file</span></li>
                        <li><span>Your browser will then begin downloading the file. When the file is done downloading, double-click on the name of the file.</span></li>
                        <li><span>.ZIP files must be unzipped before they can be used. Click on the.zip file to open it. Then, drag the file from the compressed folder to a new location.</span> </li>
                        <li><span> Once you have the file in your desired location, click the file to launch the game. No need to install.</span> </li>
                    </ul>
                </div>
        </div>
        <div class="row visible-sm-block visible-xs-block" id="install_mobile">
            <br />
            <div class="contentbox">
            <h3>Mobile version coming soon!</h3>
            <p><img src="/static/uh/images/store_banner.png" alt="Mobile version coming soon" /></p>
            </div>
        </div>
        <div class="row" id="about">
            <div class="contentbox" id="what">
                <h2>About</h2>
                <p>Unlocking Health was designed and developed by <a href="http://elab.emerson.edu">The Engagement Lab at Emerson College</a> in partnership with <a href="http://www.worldbank.org/">The World Bank Institute</a> (c) 2015</p>
            </div>
        </div>
    
        <script src="/static/uh/js/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <script src="/static/uh/js/remodal.min.js"></script> 
        <script src="/static/uh/js/bigscreen.min.js"></script>
        <script src="/static/uh/js/webgl.min.js"></script>

    </body>
</html>