<!DOCTYPE html>
<html>

<head>
    <title>Unlocking Health</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Bootstrap -->
    <link href="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460133221/unlockinghealth/css/bootstrap.css" media="screen" rel="stylesheet">
    <link href="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460133719/unlockinghealth/css/maincss.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>

    <!-- Include the basic styles -->
    <link type="text/css" rel="Stylesheet" href="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460133221/unlockinghealth/css/bjqs.css" />

    <!-- Include the jQuery library (local or CDN) -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

    <script src="https://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>

    <script src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460133221/unlockinghealth/js/bootstrap.min.js"></script>
    <script src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460133221/unlockinghealth/js/webgl.min.js"></script>

    <!-- Include the plugin *after* the jQuery library -->
    <script src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460133221/unlockinghealth/js/bjqs.min.js"></script>

</head>

<body class="template">
    <!--NAVBAR-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle
                navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-id="play">Play</a>
                    </li>
                    <li>
                        <a href="#" data-id="about">About</a>
                    </li>
                    <li>
                        <a href="#" data-id="tips">Tips for Playing</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--need to get rid of padding after the navbar-->
    <div class="jumbotron" id="backgroundImg">
        <!--Unlocking Health Photo Here-->
        <div class="banner">
            <div class="bannerImg">
                <br>
                <div id="UHbanner"></div>
                <p id="bannertext">An exploration and strategy game for teaching the
                    <br>principles of Results Based Financing</p>

            </div>
        </div>

    </div>

    <a id="play"></a>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 download" id="mac">
                <br>
                <div class="iconhere" id="macicon"></div>
                <br>
                <h3>download for mac</h3>
                <p class="maintext">Approx. 26 minutes to download file over standard DSL connection (1.5mbps)</p>
                <br>
                <a href="https://elabhome.blob.core.windows.net/downloads/UnlockingHealth_Mac.zip">
                    <button class="btn btn-default center-block" type="button">download</button>
                </a>
                <br>
                <p class="greytext">Screen Resolution 800x600
                    <br> CPU SSE2 instruction set support
                    <br> Graphics card DX9 (shader model 2.0) capabilities
                    <br> Mac OS X 10.7 or greater
                    <br> 2GB of RAM</p>
                <br>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 download" id="windows">
                <br>
                <div class="iconhere" id="windicon"></div>
                <br>
                <h3>download for windows</h3>
                <p class="maintext">Approx. 26 minutes to download file over standard DSL connection (1.5mbps)</p>
                <br>
                <a href="https://elabhome.blob.core.windows.net/downloads/UnlockingHealth_PC.zip">
                    <button class="btn btn-default center-block" type="button">download</button>
                </a>
                <br>
                <p class="greytext">Screen Resolution 800x600
                    <br> CPU SSE2 instruction set support
                    <br> Graphics card DX9 (shader model 2.0) capabilities
                    <br> 2GB of RAM</p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 download" id="online">
                <br>
                <div class="iconhere" id="onlineicon"></div>
                <br>
                <p class="greytext">have a high speed internet connection?</p>
                <h3>play online</h3>
                <br>

                <div id="browsers">
                    <p>Your browser is not compatible with this version, but you can install Chrome or Firefox:
                        <br />
                        <a href="https://www.google.com/chrome/browser/desktop/" target="_blank" class="hvr-grow"><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/images/chrome.png" />
                        </a>
                        <a href="https://www.mozilla.org/firefox/new/" target="_blank" class="hvr-grow"><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/images/firefox.png" />
                        </a>
                    </p>
                    <p>Or download the game for PC or Mac!</p>
                </div>

                <div id="playnow">
                    <button class="btn btn-default center-block" type="button">play online
                    </button>
                    <br>
                    <p class="greytext">A fast connection (at least 10mbps) is recommended. Please be patient as the game may take 1-5 minutes to download inside browser. You can test your connection speed <a href="http://testmy.net/SmarTest/down">here</a>.</p>
                    <br>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 download" id="mobile">
                <br>
                <div class="iconhere" id="mobileicon"></div>
                <br>
                <h3>download on mobile</h3>
                <br>
                <p>Coming Soon!</p>
                <br>
                <!-- <button class="btn btn-default center-block" type=
                "button">download app</button><br><br> -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="webgl" style="display: none">
                <iframe id="game_embed" width="100%" height="760" frameBorder="0" sandbox="allow-scripts allow-same-origin allow-modals" allowfullscreen="true">
                    <p>
                        <a href="https://developer.mozilla.org/en-US/docs/Glossary">
                  Fallback link for browsers that, unlikely, don't support frames
                </a>
                    </p>
                </iframe>
            </div>
        </div>

        <a id="about"></a>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="footer">
                <div>
                    <h1>Welcome to Zariba!</h1>
                    <p>You are an international consultant charged with creating a program proposal fo the people of Zariba that will improve health care and raise key indicators specified by the Ministry of Health.</p>
                    <p>Find your way around the country and talk to local people to get a nuanced picture of the situation from a wide array of perspectives. Set health priorities with government ministry officials, then help implement, monitor, and adapt the plan in context as operational obstacles inevitably arise.</p>
                    <p id="p3">Strive to meet target health indicator goals over the course of three years in the game and unlock health for the people of Zariba!</p>
                    <hr style="width: 50%">    
                    <p>Unlocking Health was commissioned by the <a href="https://olc.worldbank.org">Open Learning Campus</a> with financial support from the Government of Korea.</p>
                    <p>This game was developed in collaboration with the Health, Nutrition and Population Global Practice of the World Bank</p>
                    <p>and was designed and created by the Engagement Lab at Emerson College. Originally released in 2016.</p>
                </div>

                <a id="tips"></a>
                <div id="tips-slideshow">
                    <ul class="bjqs">
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/0.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/1.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/2.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/3.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/4.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/5.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/6.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/7.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/8.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/9.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/10.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/11.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/12.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/13.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/14.jpg">
                        </li>
                        <li><img src="https://res.cloudinary.com/engagement-lab-home/raw/upload/v1460063581/unlockinghealth/15.jpg">
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function($) {
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                $('#online').remove();
            }

            $('#playnow button').on('click', function() {
                $('#webgl').slideDown();
                $.scrollTo($('#webgl'), {
                    axis: 'y',
                    duration: 800
                });
                embedWebGL();
            });

            $('ul.nav a').on('click', function(evt) {
                console.log(evt)
                $.scrollTo($('#' + $(evt.currentTarget).data('id')), {
                    axis: 'y',
                    duration: 800
                });
            });

            $('#tips-slideshow').bjqs({
                width: 980,
                height: 660,
                animtype: 'fade', // accepts 'fade' or 'slide'
                animduration: 450, // how fast the animation are
                animspeed: 7500, // the delay between each slide
                automatic: true, // automatic
                showcontrols: false,
                showmarkers: false,
                responsive: true
            });
        });
    </script>
</body>

</html>