{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Script includes partial 
 * ==========
 */
--}}

<!-- SCRIPTS START -->

<!-- Modernizr javascript -->
<script type="text/javascript" src="/plugins/modernizr.js"></script>
<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- Isotope javascript -->
<script type="text/javascript" src="/plugins/isotope/isotope.pkgd.min.js"></script>

<!-- Magnific Popup javascript -->
<script type="text/javascript" src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Appear javascript -->
<script type="text/javascript" src="/plugins/waypoints/jquery.waypoints.min.js"></script>
<!-- Count To javascript -->
<script type="text/javascript" src="/plugins/jquery.countTo.js"></script>

<!-- Contact form -->
<script src="/plugins/jquery.validate.js"></script>
<!-- Owl carousel javascript -->
<script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.js"></script>

<!-- SmoothScroll javascript -->
<script type="text/javascript" src="/plugins/jquery.browser.js"></script>
<script type="text/javascript" src="/plugins/SmoothScroll.js"></script>
<!-- Initialization of Plugins -->
<script type="text/javascript" src="/js/template.js"></script>
<!-- Custom Scripts -->
<script type="text/javascript" src="/js/custom.js"></script>

{{!-- Page-specific JS. Should be its own partial(s) someday. --}}
{{#ifeq section 'people'}}
	<script type="text/javascript" src="/plugins/readmore.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.bio').next('p').readmore({
			  speed: 250,
			  collapsedHeight: 115,
			  lessLink: '<a href="#">^^^</a>',
			  moreLink: '<a href="#">...</a>'
			});
		})
	</script>
{{/ifeq}}