{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* CommunityPlanIt registration Page Template
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}

<div class="banner clearfix">
	<div class="container-fluid">
		<div class="row" id="project_header">
			<div class="banner pv-40" style="background-image:url('http://res.cloudinary.com/engagement-lab-home/image/upload/c_fill,h_450,q_90,w_1425/v1/site/research/projects/mnimdzwpqyzvct72wz7z.png');">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title" id="project-title">Community PlanIt</h2>
						</div> <!-- .col-md-8 -->
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .banner -->
		</div> <!-- .row -->
	</div> <!-- .container -->
	<div id="page-start"></div>
</div>

<section class="section light-gray-bg clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>About <i>Community PlanIt</i></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-8">
				{{{content.intro.html}}}

        <div class="col-md-12">
            <h1 class="page-title text-center">Sign-up</h1>
        </div>

        <div id="form_container" class="row">
  
				  <form id="register_form" method="get" action="">
				    
				    <input type="hidden" name="method" value="validateForm">
				    <input type="hidden" id="serverValidationFields" name="serverValidationFields" value="">

				    <div class="form-group c1 required" data-cid="c1">
				        <label class="control-label" for="first-name">First Name</label>

				        <div class="input-group"><span class="input-group-addon left"><i class="fa fa-user"></i> </span>
				            <input type="text" class="form-control" id="first_name" name="first_name" value="" data-rule-required="true" data-rule-minlength="1" data-msg-minlength="Please enter at least {1} characters." />
				        </div>
				    </div>
						
						<div class="form-group c26 " data-cid="last_name">
				        <label class="control-label" for="last_name">Last Name</label>

				        <div class="input-group"><span class="input-group-addon left"><i class="fa fa-user"></i> </span>
				            <input type="text" class="form-control" id="last_name" name="last_name" value="" data-rule-required="true" data-rule-minlength="1" data-msg-minlength="Please enter at least {1} characters." />
				        </div>


				    </div>

				    <div class="form-group c2 required" data-cid="email">
				        <label class="control-label" for="email">Email</label>

				        <div class="input-group"><span class="input-group-addon left"><i class="fa fa-at"></i> </span>
				            <input type="email" class="form-control" id="email" name="email" value="email@email.org" data-rule-email="true" data-rule-required="true" />
				        </div>

				    </div>

				    <div class="form-group c3 required" data-cid="zip">
				        <label class="control-label" for="zip">Zip Code</label>

				        <div class="input-group"><span class="input-group-addon left"><i class="fa fa-envelope-o"></i> </span>
				            <input class="form-control" id="zip" name="zip" rows="3" data-rule-required="true" data-rule-zipcodeUS="true"></input>
				        </div>

				    </div>

				    <div class="form-group submit c100 " data-cid="c100" style="position: relative;">
				        <label class="control-label sr-only" for="c100" style="display: block;">Sign-up</label>

				        <div class="progress" style="display: none; z-index: -1; position: absolute;">
				            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
				            </div>
				        </div>

				        <button id="submit_btn" type="submit" class="btn btn-primary btn-lg" style="z-index: 1;">
				            <span class="fa fa-hand-o-right" aria-hidden="true"></span> Sign-up
				        </button>

				        <p class="error bg-warning" style="display:none;">
				            Please check the required fields. </p>
				    </div>

				    <div class="form-group" id="form_errors" style="display: none;">
				    	There was a problem registering you! Please try again later.
				    </div>

					</form>

        </div>

        <div id="done_container" class="row" style="display: none">
        	You're all set! We'll email you when the game launches on March 25.
        </div>

			</div>
			<div class="col-sm-6 col-md-4">
				<img id="side-image" src="http://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,w_300/v1457558676/site/cpi/climate_smart.png" alt="Community PlanIt">

				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="{{content.videoURL}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<p><br /><a href="https://communityplanit.org/how-to-play/"><i class="fa fa-external-link"></i>&nbsp;How to play</a></p>
			</div>
		</div> <!-- .row -->
	</div> <!-- .container -->
</section>

<div class="banner border-clear light-gray-bg">
    <div class="container">
				{{{content.blurb.html}}}
    </div>
</div>

<!-- Partners -->
<section class="section clearfix partners{{!--  about-section --}}">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                {{!-- {{> page/name name="Our Partners"}} --}}
                <h1 class="page-title text-center">Our Partners</h1>
            </div>

            {{!-- Partner icons --}}            
            <div class="col-md-12 pv-20">
                <div class="clients-container">
                    <div class="clients">
                        {{#each partners}} {{> about/partner_icon partner=this}} {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
