{{!< default}}
<!--====================BEGIN HOME==============-->
<div class="container-fluid">
	<div class="row">
		<!-- main start -->
		<!-- ================ -->
		<div class="main col-md-12 no-gutter">

			<section class="hidden-xs-sm">
				<div class="banner clearfix fullscreen">
					<div class="overlay-container overlay-visible">
						<!-- Video Background -->
						<div class="fullscreenvideo"
							data-autoplay="true"
							data-volume="mute"
							data-forceCover="1"
							data-aspectratio="16:9"
							data-forcerewind="on"
							style="z-index: 2;">
							
							<div class='embed-container'>
								<iframe width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>

						</div>
						<div class="overlay">
							<div class="va-container">
								<div style="display: table-cell;">
									<div class="call-to-action text-center">
										<a href="/about">
											<img src="/images/logos/logo_white.png" alt="Engagement Lab Logo" id="logo-img">
											<h1 class="title font-default">Engagement Lab</h1>
											<h3>An applied research lab at Emerson College for reimagining civic engagement in a digital culture</h3>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- banner end -->

			{{#if featured_content}}
				<section class="recent-events clearfix light-bg">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2 class="title text-center">What's Good at the Lab</h2>
							</div>
						</div>
						<div class="row grid-space-30">
							{{#each featured_content}}
								{{> index/recent_event colSize=eventsColumnSize event=this}}
							{{/each}}
						</div>
					</div>
				</section>
			{{/if}}
			{{#if featured_projects}}
				<section class="featured-projects">

					{{!-- Glider.js structure --}}
					<div id="featured_glider" class="glide">

					    <div class="glide__arrows">
					        <button class="glide__arrow prev" data-glide-dir="<"></button>
					        <button class="glide__arrow next" data-glide-dir=">"></button>
					    </div>

					    <div class="glide__wrapper">
					        <ul class="glide__track" style="margin-left:-40px">
								{{#each featured_projects}}
									<li class="glide__slide">{{> index/featured_project project=this}}</li>
								{{/each}}
					        </ul>
					    </div>

					</div>
					
				</section>
			{{/if}}
		</div> <!-- .main -->
	</div> <!-- .row -->
</div> <!-- .container-fluid -->