{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* About Page Template
* - See About model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{> page/name name="Available Job Listings"}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{#each job}}
					{{> page/name name=Job.title}}
					{{> about/paragraph text=Job.description}}
				{{/each}}
				
			</div>
		</div>
	</div>
</section>
			{{!-- Partner icons --}}
			{{!-- <div class="col-md-12 pv-20">
				<div class="clients-container">
					<div class="clients">
						{{#each partners}}
							{{> about/partner_icon partner=this}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

 --}}