{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * People Page Template 
 * - See People model for fields
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container-fluid">
		<div class="row">

			<div class="main col-md-12">

				<h1 class="page-title text-center">Our Team</h1>

				<h3 class="text-center pv-30">Leadership</h3>
				<div class="row grid-space-10 team-row1">
						{{!-- Show leadership --}}
						{{#each leadership}}
							{{> people/person person=this}}
						{{/each}}

				</div>

				<div class="separator-4"></div>
				<h3 class="text-center pv-30">Team</h3>
				<div class="row grid-space-10 team-row2">

					{{!-- Show lab team --}}
					{{#each team}}
						{{> people/person person=this}}
					{{/each}}

				</div>

				<div class="separator-4"></div>
				<h3 class="text-center pv-30">Faculty Fellows</h3>
				<div class="row grid-space-10 team-row3">

					{{!-- Show fellows --}}
					{{#each fellows}}
						{{> people/person person=this}}
					{{/each}}

				</div>
				
				{{#if cmap}}
					<div class="separator-4"></div>
					<h3 class="text-center pv-30">CMAP Students</h3>
					<div class="row grid-space-10 team-row4">

						{{!-- Show cmap students --}}
						{{#each cmap}}
							{{> people/person person=this}}
						{{/each}}

					</div>
				{{/if}}


				{{#if labassistants}}
					<div class="separator-4"></div>
					<h3 class="text-center pv-30">Lab Assistants</h3>
					<div class="row grid-space-10 team-row4">

						{{!-- Show lab assistants --}}
						{{#each labassistants}}
							{{> people/person person=this}}
						{{/each}}

					</div>
				{{/if}}
				
		</div>
	</div>
</section>