.cmap {

	.section {
		padding: 40px 0;
	}

	.inline-header {
		font-weight: 700;
		color: $base-color-hover;
	}

	#apply { background-color: #f2f2f2; }
	#curriculum { background-color: #17839c; }
	#structure { background-color: #2898b3; }
	#courses { background-color: #38b1ce; }
	#elements {
		background-color: #fff;
		#element-0 { background-color: #ff6352; }
		#element-1 { background-color: #00b8b3; }
		#element-2 { background-color: #51d0b1; }
		#element-3 { background-color: #fcb75c; }
	}
	#projects { background-color: #f2f2f2; }

	.dark { color: $white; }

	h3.section-header {
		text-transform: uppercase;
		font-weight: 700;
	}

	.lead p {
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 300px;
		line-height: 1.4;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	@media (min-width: 768px) {
		.lead p {
			font-size: 21px;
		}
	}
}