.glide__arrows {
  position: absolute;
}
.glide__arrows {
  top: 50%;
  width: 92%;
  margin-left: 4%;

  // Custom arrow placement on about pg
  &.about {
    width: 105%;
    margin-left: -5%;
  }
  &.project {
    // Custom arrow placement on projects
    width: 105%;
    margin-left: -5%;
    
    .glide__arrow {
    // Custom arrow color on projects
      color: gray;
    }
  }
}

// Hide arrows on devices less than 768px
@media (max-width:768px) {
  .glide__arrows {
    display: none;
  }
}

.glide__arrows .glide__arrow {
  font-family: "FontAwesome";
  font-size: 6em;
  position: absolute;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: none;

  @include transition(all 0.5s ease);

  // Hover animation
  &:hover {
    @include translate(0, -54%);
  }
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide--horizontal .glide__arrow {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.glide--horizontal .glide__arrow.prev {
  left: 0;
  &:after {
    display: inline-block;
    content: "\f104";
  }
}
.glide--horizontal .glide__arrow.next {
  right: 0;
  &:after {
    display: inline-block;
    content: "\f105";
  }
}

.glide__bullets {
  position: absolute;
  list-style: none;
}
.glide--horizontal .glide__bullets {
  bottom: 8%;
  left: 0;
  width: 100%;
  height: 12px;
  text-align: center;
}
.glide__bullets > * {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
}
.glide--horizontal .glide__bullets > * {
  margin: 0 5px;
}
.glide__bullets > *.active {
  background-color: white;
}
.glide__bullets > *:focus {
  outline: none;
}
.glide__bullets > *:hover,
.glide__bullets > *:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide--slider .glide__arrow {
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
          transition: opacity 150ms ease;
}
.glide--slider .glide__arrow.disabled {
  opacity: 0.33;
}

// Added to base styling
.glide__slide {
  img {
    margin-left: auto;
    margin-right: auto;
  }
  .caption {
    text-align: center;
  }
}