
body {
  padding-top: 86px;
}

.navbar {
	border: none;
}

.navbar-nav {
	float: right;
}

.navbar.navbar-default {
	border-radius: 0;
}

.navbar-fixed-top {
	margin-top: 0 !important;
	padding-top: 10px;
	background-color: #fff !important;
}

#logo-section {

	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
	
	ul {
		padding-left: 0;
		margin-top: 10px;

		img {
			width: 52px;

			&:hover {
				opacity: 1;
			}
		}

		li {
			display: inline-block;

			#title {
				float: right;
				font-size: 20px;
				margin: 0px 10px 5px;
			}
		}
	}
}

.main-navigation .dropdown-menu {
	top: 100%;
}

.dropdown-menu > li > a {
	background-color: $white;
	border: none;
}

@media (max-width: 768px) { 
	body { padding-top: 86px; }
	#logo-section ul {
		text-align: left;
	}
	.navbar-nav {
		width: 100%;
		li {
			text-align: left;
		}
	}
	.dropdown-menu {
		display: none;
	}
	.dropdown > a:before {
		display: none;
	}
	.navbar-default .navbar-nav > li > a {
		border-bottom: none;
	}
}

@media (max-width: 991px) { 
	.main-navigation > .navbar-collapse > ul {
		text-align: center;
	}
}

@media (max-width: 991px) and (min-width: 768px) { 
	body {
		padding-top: 154px;
	}
	#logo-section ul {
		text-align: center;
	}
	.navbar-nav {

		float: none;
		
		> li {
			float: none;
			display: inline-block;
		}
	}
}

.navbar-toggle {
	margin-top: 12px;
}