.tama {
	.tama-text {
		text-align: center;
		color: #BB11EF;
	}
	#tama-name { font-size: 50px; }
	#tama-feeling { font-size: 40px; }
	.tama-container {
		padding: 20px 0;
		img {
			margin: 0 auto;
		}
	}
}