<div class="collaborator">
	<div class="collaborator-text">
		<h4>{{title}}</h4>
		<p>{{text}}</p>
	</div>
	<div class="collaborator-icon">
		<i class="fa fa-{{icon}}" aria-hidden="true"></i>
	</div>
	<div class="clearfix"></div>
</div>