.logos-footer {
	margin-top:3%;

	#logo {
		width: 96px;
	}
	#logo-emerson {
		max-width: 400px;
		margin-left:2em;
	}
	img {
		display: initial;
		opacity: 0.5;
		margin-bottom: 1em;
	}
}

@media (max-width: 768px) {
	.logos-footer {
		#logo-emerson { max-width: 240px; }
	}
}