.tama {
	.tama-text {
		text-align: center;
		color: #BB11EF;
	}
	#tama-name { font-size: 50px; }
	#tama-feeling { font-size: 40px; }
	.tama-container {
		padding: 20px 0;
		img {
			margin: 0 auto;
		}
	}
	.actions-container {
		text-align: center;
	}
	ul.actions {
		display: inline-block;
		li {
			display: inline;
		}
	}
	form {
		display: inline;
		.btn {
			font-size: $font-size-large;
			padding: 14px 30px;
		}
		.btn-default {
			background-color: #ff0000;
			border: none;
		}
		textarea {
			
		}
	}
	.tama-comment {
		font-size: 24px;
		color: #FF00D0;
	}
	.tama-author {
		font-size: 16px;
		color: #006EFF;
	}
}