<div class="banner border-clear dark-bg" style="background-image:url('{{{cloudinaryUrl project.headerImage width=1425 height=480 crop='crop' quality=80}}}');">
	<div class="container featured-project">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-1">
				<div class="va-container">
					<div class="va-align">
						<h1><strong>Featured:</strong></h1>
						<h1>{{project.name}}</h1>
						<p>{{project.description}}</p>
					</div> <!-- .va-align -->
				</div> <!-- .va-container -->
			</div> <!-- .col-sm-6 -->
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .banner -->
