{{!< default}}
{{!--
/**
* Engagement Lab Website
* Developed by Engagement Lab, 2015
* ==============
*
* Press Template
* - See About model for fields
* - Use {{jsonPrint about}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<!-- PRESS START -->
<!-- main-container start -->
<!-- ================ -->
<div class="container">
	<div class="row">
		<div class="col-md-8 pv-20">
			{{> page/name name="Press Archives"}}
		</div>
	</div>
</div>

<section>
	<div class="container">
		<div class="row">
			<div class="main">
				{{#each articles}}
					{{> publications/list_item listing=this}}
				{{/each}}
			</div>
		</div>
	</div>
</section>
