/* Scss Document */

/* HOME */
.overlay {
position: absolute;
z-index: 3;
top: 30%;
left: 10%;
}

.with-dropdown-buttons .navbar-default .navbar-collapse {
	padding-right: 0;
}

.navbar .container-fluid {
	margin-right: 0;
}

.navbar-nav {
	float: right;
}

.overlay h1 {
  color: white;
}

.row .main h1 {
	margin: 0 auto;
}

.featured {
  background: rgba(0, 0, 0, 0.4);
  min-height: 100%;
  padding-bottom: 5%;
}

.featuredRow {
  padding: 2%;
}

/* PUBLICATIONS */
section.publications .subSection {
  display: inline-block;
}